<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('./partials/header', {test: 66}) %> 

    <div id="hiddenElement" style="display: none;" userId="<%= _id %>"></div>
    
    <% if (avatar) {%>
        <img src="/images/avatars/<%= avatar %>" >
    <% } else { %>
        <img src="/images/avatars/default.png" >
    <% } %> 
    <span>Hi <%= username %></span>

    <form action="/api/auth/logout">
        <input type="submit" value="log out">
    </form>


    <form action="/api/user/uploadAvatar" method="post" enctype="multipart/form-data">
        <input type="text" name="title">
        <input type="file" name="avatar" />
        <!-- <input type="text" name="title"> -->
        <input type="submit" value="upload avatar">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/javascripts/dashboard.js"></script>
</body>
</html>